# Python
__pycache__/

# Virtual Environment
.venv

# Environment Variables
.env*

# Python Version
.python-version

# Poetry
poetry.lock

# 數據庫文件
*.db
*.rdb
celerybeat-schedule.db
flower.db.db
dump.rdb

# Claude
CLAUDE.md

Requirement.md
